body {
  background-color: #E5E5E5;
}

.suggest {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 15px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    
    .title {
      color: #999999;
      font-weight: 500;
      font-size: 14px;
    }

    .view_all {
      font-size: 12px;
      color: #262626;
    }
  }

  &__body {

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      &--left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__avatar {
          width: 50px;
          height: 50px;

          img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
          }
        }

        &__content {
          padding-left: 10px;

          .name {
            color: #262626;
            font-size: 14px;
            margin: 0;
          }

          .des {
            color: #999999;
            font-size: 12px;
          }
        }
      }

      &--right {
        font-size: 12px;
        color: #1876F2;
      }
    }
  }
}
